    @font-face {
        font-family: 'Gilroy';
        src: local('Gilroy ExtraBold'), local('Gilroy ExtraBold'), url('fonts/gilroyextrabold.woff') format('woff'), url('fonts/gilroyextrabold.woff2') format('woff2');
        font-weight: bold;
    }
    
    @font-face {
        font-family: 'Gilroy';
        src: local('Gilroy Light'), local('Gilroy Light'), url('fonts/gilroylight.woff') format('woff'), url('fonts/gilroylight.woff2') format('woff2');
        font-weight: 400;
    }
    
    @font-face {
        font-family: 'Open Sans';
        src: local('Open Sans'), local('Open Sans Regular'), url('fonts/opensans.woff') format('woff'), url('fonts/opensans.woff2') format('woff2');
        font-weight: normal;
    }
    
    @font-face {
        font-family: 'Open Sans';
        src: local('Open Sans'), local('Open Sans Light'), url('fonts/opensanslight.woff') format('woff'), url('fonts/opensanslight.woff2') format('woff2');
        font-weight: 400;
    }
    
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    body {
        min-width: 1200px;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", "Arial", sans-serif;
        background-color: white;
        overflow-x: hidden;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: #000000;
    }
    
    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    header {
        padding: 10px 60px 40px 60px;
        background-image: linear-gradient(white 40px, #f7e296 40px);
    }
    
    .logo-wrapper {
        margin-bottom: 5px;
    }
    
    .logo {
        text-transform: uppercase;
        font-family: "Gilroy", serif;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 0.5px;
        position: relative;
        left: -2px;
    }
    /* ::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.5);
    } */
    
    .search {
        margin: 0px;
        padding: 0px;
        height: 50px;
        display: flex;
        position: relative;
        background-color: #f7e296;
    }
    
    #search,
    .btn-search {
        margin: 0px;
        box-sizing: border-box;
        height: 50px;
        outline: none;
        border: none;
        box-shadow: none;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
        padding: 10px;
    }
    
    #search {
        padding-left: 38px;
        width: 440px;
        opacity: 0.5;
        background-color: #f7e296;
    }
    
    .btn-search {
        position: absolute;
        right: 0;
        width: 85px;
        color: transparent;
        background-color: transparent;
        cursor: pointer;
    }
    
    .cover {
        position: absolute;
        right: 0;
        width: 85px;
        height: 50px;
    }
    
    #search:hover {
        opacity: 0.8;
        background-color: #f7e296;
    }
    
    #search:focus {
        opacity: 1;
    }
    
    #search:focus~.btn-search {
        color: #000000;
        background-color: #f7e296;
        border: 2px solid #000000;
        z-index: 2;
    }
    
    #search:focus~.btn-search:hover {
        color: #ffffff;
        background-color: #000000;
    }
    
    #search~.btn-search:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #000000;
    }
    
    .cover::after {
        content: "";
        position: absolute;
        width: 355px;
        height: 2px;
        background-color: #f7e296;
        bottom: 0px;
        left: -355px;
    }
    
    #search:focus~.cover::after,
    .btn-search:active~.cover::after {
        background-color: #000000;
    }
    
    .search::before {
        content: "";
        position: absolute;
        top: 17px;
        left: 3px;
        width: 16px;
        height: 16px;
        background-image: url("../img/search.png");
        background-repeat: no-repeat;
        z-index: 2;
    }
    
    .header-bottom {
        display: flex;
    }
    
    .header-catalog-menu {
        display: flex;
    }
    
    .header-top {
        display: flex;
    }
    
    .site-navigation {
        display: flex;
    }
    
    .header-catalog-menu ul li {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 36px;
        /*  ? */
    }
    
    .product-categories {
        margin-bottom: 80px;
    }
    
    .categories-list {
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .category-icon {
        width: 160px;
        height: 160px;
        background-color: #f7e296;
    }
    
    .categories-list li:nth-child(n-1) {
        margin-right: 40px;
    }
    /* Сервисы .................................................................................*/
    
    .wide-background {
        background-image: linear-gradient(white 95px, #e5e5e5 95px);
        width: 100%;
    }
    
    .services-container {
        display: flex;
    }
    
    .services-control {
        display: flex;
        flex-direction: column;
        padding: 55px 120px 45px 0px;
        border-right: 5px solid #000000;
        margin-bottom: 70px;
    }
    
    .services-control label {
        margin: 25px 0;
    }
    
    .services-container input {
        display: none;
    }
    
    .services-description {
        position: absolute;
        display: none;
    }
    
    .services-container #btn-1:checked~.services-description-window .services-description-1 {
        display: block;
    }
    
    .services-container #btn-2:checked~.services-description-window .services-description-2 {
        display: block;
    }
    
    .services-container #btn-3:checked~.services-description-window .services-description-3 {
        display: block;
    }
    /* Бренды ...................................................................................*/
    
    .brands-list {
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .info {
        display: flex;
    }